@page
@model TestDownloadModel
@{
    ViewData["Title"] = "Test Download";
}

<div id="downloadApp" v-cloak>
    <div class="row">
        <div class="col-md-3">
            <h2>Download stuff</h2>
            <form action="~/TestDownload" x-action="//cnn.com" method="post" v-on:submit="onSubmit" target="downloadTarget">
                <label>Sleep time:<input type="number" asp-for="SleepTime" v-model="SleepTime" /><input type="button" v-on:click="reset" value="Reset" /></label>
                <button type="submit">Initiate Download</button>
                <button v-on:click.prevent="onCancel">Cancel</button>
                <input x-type="hidden" name="Nonce" v-model="Nonce" />
            </form>
        </div>
    </div>
    <h2>&nbsp;</h2>
    <div class="row" v-show="loading">
        <div class="col-md-3" style="border: 1px solid gray">
            <h2>Form to display</h2>
            <p>The content is loading...<img src="~/images/Spinner.svg" style="height: 48px; width: 48px;" /></p>
        </div>
    </div>

    <iframe style="x-display: none; height=10em; width=100vh;" name="downloadTarget" ref="downloadTarget"></iframe>
</div>

@section Scripts {
    <script>
    var vm = new Vue({
        data: {
            SleepTime: @Html.Raw(Model.SleepTime),
            loading: false,
            Nonce: "",
            monitoring: false,
            intervalHandle: 0
        },
        el: "#downloadApp",
        mounted() {
            console.log("Mounted");
            this.$refs.downloadTarget.addEventListener("load", this.fileLoaded);
        },
        methods: {
            onCancel() {
                console.log("Cancel");
                this.stopMonitoringNonce();
            },
            onSubmit() {
                this.Nonce = new Date().valueOf();
                console.log("Submit with Nonce", this.Nonce);
                this.loading = true;
                this.startMonitoringNonce();
            },
            fileLoaded() {
                console.log("loaded");
            },
            reset() {
                this.SleepTime = this.SleepTime ? 0 : 5000;
            },
            startMonitoringNonce() {
                const self = this;
                this.monitoring = true;
                this.intervalHandle = window.setInterval(() => {
                    console.log("Checking Nonce cookie");
                    if (document.cookie.includes("Download-nonce=" + this.Nonce)) {
                        this.stopMonitoringNonce();
                    }
                }, 1000);
            },
            stopMonitoringNonce() {
                this.loading = this.monitoring = false;
                window.clearInterval(this.intervalHandle);
            }
        }
    });
    </script>
}
